
section#about
    div.container.flex
        
        div.header
            |About
        div.header-bar
        div.skills-wrapper.flex.row-gt-sm
            div.slide-in-left.flex.flex-50-gt-sm
                img.me(src="", alt="")
                div.about-summary
                    | #{user.about_summary}
                    
            div.slide-in-right.flex-50-gt-sm.flex.boxes-wrap
                each skill in split(user.skills)
                    div.box.flex
                        div.skill-name.flex
                            | #{skill}
                
               
