section#home
    div.canvas
        canvas#canvas(height='644')
    div.flex
        div.text
            | Hello I'm 
            span.text-capitalize.highlight #{user.fname} #{user.lname}.
            br
            | I'm a 
            span.text-capitalize| #{user.position_title}
        nav.flex.nav-header
            div.link-wrap
                a.page-link.active(href='#home') home
                a.page-link(href='#about') about
                a.page-link(href='#project') portfolio
                a.page-link(href='#contact') contact
            i.mdi.mdi-menu.fa.fa-bars
                