.project-card
    div.project-card-image-wrapper
        img.card-image(src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg")
        .card-body-wrapper
            label 
                |Project Name
            .project-desc
                p
                    | Description...
            .card-footer-row
                button
                    |More