
extends ./layouts/base.jade
block css
    link(type="text/css" rel='stylesheet' href='css/style.css')
    title Zain | Portfolio

block body
    div.overflow-wrap
        include partials/home.jade
        include partials/about.jade
        include partials/projects.jade
        include partials/contactme.jade
        include partials/footer.jade

block js
    script(src="js/canvas.js")
    script(src="js/portfolio.js" type="module")
    script(type='text/javascript').
        const user = !{JSON.stringify(user)};
        const projects = !{JSON.stringify(projects)};
        
    script(src="js/plugins/shortcuts.js")
        


