body {
	background-color: #111111;
	font-family: "Titillium Web", sans-serif;
	padding: 2em;
}

@media screen and (min-width: 40em) {
	body {
		font-size: 1.25em;
	}
	.form .field.half {
		width: calc(50% - 1px);
	}
}

.form .label,
.form .text-input,
.form .textarea,
.form .select,
.form .button {
	padding: 0.75em 1em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	line-height: normal;
	border-radius: 0;
	border: none;
	background: none;
	display: block;
}

.form .label {
	font-weight: bold;
	color: white;
	padding-top: 0;
	padding-left: 0;
	letter-spacing: 0.025em;
	font-size: 1.125em;
	line-height: 1.25;
	position: relative;
	z-index: 100;
}

.form .required .label:after {
	content: " *";
	color: #e8474c;
	font-weight: normal;
	font-size: 0.75em;
	vertical-align: top;
}



.form .text-input,
.form .textarea,
.form .select,
.form .dropdown .dropdown-toggle:not(.dropdown-item) {
	font: inherit;
	line-height: normal;
	width: 100%;
	box-sizing: border-box;
	background: #222222;
	color: white;
	position: relative;
}

.form .text-input:placeholder,
.form .textarea:placeholder,
.form .select:placeholder{
	color: white;
}



.form .button  {
	font: inherit;
	line-height: normal;
	cursor: pointer;
	background: #e8474c;
	color: white;
	font-weight: bold;
	width: auto;
	margin-left: auto;
	font-weight: bold;
	padding-left: 2em;
	padding-right: 2em;
}


.form .button:hover,
.form .button:focus,
.form .button:active {
	color: white;
	border-color: white;
}



.form {
	max-width: 40em;
	margin: 0 auto;
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	align-items: flex-end;
}

.form .field {
	width: 100%;
	margin: 0 0 1.5em 0;
}



.form .field.last {
	margin-left: auto;
}

.form .textarea {
	max-width: 100%;
}

.form .select {
	text-indent: 0.01px;
	text-overflow: "" !important;
}

.form .select::-ms-expand {
	display: none;
}

.form .options {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}
.form .option {
	float: left;
	margin: 1px;
}



/**/
.dropdown button:hover,
.dropdown button:focus,
.dropdown button:active,
.dropdown span:hover,
.dropdown span:focus,
.dropdown span:active{
	color: #e8474c;
}
.dropdown button.selected{
	background-color: teal !important;
	color: white !important;
	font-weight: bold;
}

.dropdwon, .dropdown-toggle, .dropdown-menu{
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.dropdown-item{
	background: none !important;
	border: none !important;
	border: none !important;
    outline: none !important;
}

.dropdown .button {
	font: inherit;
	line-height: normal;
	cursor: pointer;
	background: #e8474c !important;
	color: white;
	font-weight: bold;
	margin: 0;
    padding: 5px 5px;
    border-radius: 10px;
	
}
.form .dropdown i {
	padding-left: 10px !important;
}
@keyframes expand {
	from {
		transform: scale(0);
		opacity: 0;
		background: #5470b0;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	
}

li {
	margin: 20px;
	animation: expand 0.5s ease-in-out;
}

li > * {
	margin: 5px;
}
.project-lable {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}
.bootstrap-tagsinput .badge {
	margin: 0 2px !important;
}

.plus-icon {
	color: #111111;
}

.trash-btn-icon {
	color: red;
}
.file {
	visibility: hidden;
	position: absolute;
}

.project-thumbnail {
	width: 57px;
}


.content-right {
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.removed {
	-webkit-animation: disapear 1s;
	-webkit-animation-fill-mode: forwards;
	animation: disapear 1s;
	animation-fill-mode: forwards;
}

@keyframes disapear {
	50% {
		-webkit-transform: translateX(-5%);
		transform: translateX(-5%);
	}

	100% {
		-webkit-transform: translateX(200%);
		transform: translateX(200%);
	}
}
