
body {

    color: #fff !important;
    font-size: 8pt !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    margin: 0px !important;
    overflow-x: hidden !important;
    text-align: center !important;

}

.canvas {
  background-color: #1b242f;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

section {
  color: #616161;
  line-height: 11pt;
  padding: 70px 0 70px 0;
  position: relative;
}

section:nth-of-type(1) {
  color: #fff;
  height: calc(100vh + 53px);
}

section:nth-of-type(1) .highlight {
  font-family: "Raleway-semibold";
}

/* Home */
.overflow-wrap {
  overflow-x: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  font-size: 16pt;
  line-height: 20px;
  margin: 0 0 20px 0;
  pointer-events: none;
  z-index: 1;
}

.highlight {
  color: #d70010;
}

.button {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
}

nav {
  bottom: 0;
  left: 0;
  position: absolute;
  background: #121212;
  border-bottom: 3px solid #000;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
}

nav .link-wrap {
  background: #121212;
  height: 0;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
}

nav .link-wrap a:first-child {
  padding: 25px 20px 12px 20px;
}

nav .link-wrap a:hover {
  color: #d70010;
  background-color: transparent;
}

nav .link-wrap a {
  color: #fff;
  cursor: pointer;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: color 0.5s;
  background: none;
  border: 0;
}

nav .active {
  color: #d70010 !important;
}

nav .mdi-menu {
  font-size: 30pt;
  line-height: 36pt;
  margin: auto 0;
  position: absolute;
  right: 5vw;
  top: 0;
}

i {
  font-style: italic;
}

.mdi {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/* about */
section .flex-50-gt-sm {
  display: block;
}

.header {
  font-size: 25pt;
  line-height: 42px;
  position: relative;
}

.header-bar {
  background: #1b242f;
  height: 5px;
  width: 70px;
  margin: 25px 0 100px 0;
}

section:nth-of-type(2) .skills-wrapper {
  align-items: flex-start;
  width: 100%;
}

section:nth-of-type(3)  .project-card {
  height: 430px;
  
}

/*Project*/
.tab-wrapper {
  text-align: center;
	display: block;
	margin: auto;
  max-width: 500px;
}

.tabs {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.tab-link {
  margin: 0 1%;
  list-style: none;
  padding: 10px 40px;
  color: #aaa;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.5s;
  border-bottom: solid 3px rgba(255, 255, 255, 0);
  letter-spacing: 1px;
}

.tab-link:hover {
  color: #999;
  border-color: #999;
}

.tab-link.active {
  color: #EE6534;
  border-color: #EE6534;
}

.content-wrapper {
  padding: 40px 80px;
}

.tab-content {
  display: none;
  text-align: center;
  color: #888;
  font-weight: 300;
  font-size: 15px;
  opacity: 0;
  transform: translateY(15px);
  animation: fadeIn 0.5s ease 1 forwards;
}

.tab-content.active {
  display: block;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: none;
  }
}


.project-card-wrapper{
  width: 100%; /*set the size of container*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.item {
  max-width: 250px; /*set max width of item*/
  min-width: 250px; /*set min width of item*/
  box-sizing: border-box;
  margin: 1rem;
  flex: 1;
}
.card-image{
  width: 100%;
  height: 200px;
}

.box {
  font-size: 7pt;
  font-weight: 700;
  height: 22px;
  margin: 0 0 12px 0;
}

section:nth-of-type(2) .boxes-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
 
  flex-wrap: wrap;
  flex-direction: row;
  
}

section:nth-of-type(2) .box {
  
  background-color: #eee;
  color: #d70010;
  font-size: 8pt;
  height: 22px;
  margin: 5px 5px;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 10px;
}


/*Contact ME */
section:nth-of-type(4) {
  background: #101820FF;
  /* color: #fff; */
  padding-top: 175px;
}

section:nth-of-type(4) svg {
  left: 0;
  position: absolute;
  top: 0;
}

section:nth-of-type(4) .header-bar {
  background: #fff;
  margin: 25px 0 40px 0;
  width: 110px;
}
section:nth-of-type(5) form {
  margin: 40px auto 0 auto;
  min-width: 95%;
}

section:nth-of-type(4) input[type=text], section:nth-of-type(4) input[type=email], section:nth-of-type(4) textarea {
  background: #EFEFE8FF;
  border: 0;
  box-sizing: border-box;
 
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
section:nth-of-type(4) textarea {
  margin-bottom: 5px;
  min-height: 150px;
}
section:nth-of-type(4) #success {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height 0.25s;
  width: 100%;
}
section:nth-of-type(4) .button {
  background: transparent;
  color: #fff;
  float: right;
  font-size: 12pt;
  margin: 5px 0 0 0;
  outline: 0;
  padding: 10px 30px;
}
section:nth-of-type(4) #success div {
  background: #04c986;
  border: 1px solid #157c59;
  color: #157051;
  font-size: 10pt;
  font-weight: 600;
  padding: 5px 0;
}

/*Footer*/
footer {
  background: #1b242f;
  padding: 70px 0 50px 0;
  position: relative;
}

footer .fa-angle-double-up {
  background: #e31b6d;
  cursor: pointer;
  font-size: 30pt;
  height: 50px;
  left: 0;
  line-height: 40pt;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -25px;
  transition: background 0.5s;
  width: 47px;
}
footer .icon-wrap .icon:hover {
  background: #04c2c9;
  box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
  transform: scale(0.9);
}

footer .icon-wrap .icon {
  background: #262f38;
  cursor: pointer;
  font-size: 18pt;
  height: 55px;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  width: 55px;
}
footer .footnote {
  color: #8f9aa7;
  font-size: 12pt;
  margin-top: 35px;

}

/**/
@media screen and (min-width: 600px) {
  body {
    font-size: 12pt !important;
  }

  section {
    line-height: 18pt;
  }

  section:nth-of-type(1) .text {
    font-size: 32pt;
    line-height: 36pt;
  }
  section:nth-of-type(1) .button {
    padding: 12px 50px 12px 20px;
    margin-bottom: 53px;
    position: relative;
    font-size: 16pt;
  }

  nav .link-wrap {
    background: none;
    height: initial;
    overflow: visible;
    position: initial;
    text-align: left;
  }

  nav .link-wrap a:first-child {
    padding: 0;
  }

  nav .link-wrap a  {
    display: inline;
    font-size: initial;
    margin: 0 20px;
    padding: initial;
  }

  nav .mdi-menu {
    display: none;
  }

  .header {
    font-size: 30pt;
  }

  section:nth-of-type(2) .box {
    font-size: 11pt;
    height: 28px;
    margin: 8px 8px;
  }

  section:nth-of-type(4) form {
    min-width: 500px;
  }

  
}

@media screen and (min-width: 960px) {
  .flex-50-gt-sm {
    box-sizing: border-box;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-height: 100%;
    max-width: 50%;
  }

  .flex.row-gt-sm {
    flex-direction: row;
  }
}
